.postWrapper {
    background-color: var(--gray-800);
    border-radius: 8px;
    padding: 4rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.header .left {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.header .left > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header .left strong {
    color: var(--gray-100);
    line-height: 1.6;
}

.header .left time {
    font-size: 1.4rem;
    color: var(--gray-400);
    line-height: 1.6;
}

.header .right {
    font-size: 1.4rem;
    color: var(--gray-400);
}
.content {
    margin-top: 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.content a {
    font-weight: bold;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
}

.commentForm {
    width: 100%;
    margin-top: 2.4rem;
    padding-top: 2.4rem;
    border-top: 1px solid var(--gray-600);
}

.commentForm > label {
    line-height: 1.6;
    color: var(--gray-100);
    font-weight: bold;
}

.commentForm > textarea {
    width: 100%;
    background: var(--gray-900);
    border: 0;
    resize: none;
    height: 9.6rem;
    padding: 1.6rem;
    border-radius: 8px;
    color: var(--gray-100);
    line-height: 1.4rem;
    margin-top: 1.4rem;
}

.commentForm button[type="submit"] {
    padding: 1.6rem 2.4rem;
    margin-top: 1.6rem;
    background: var(--green-500);
    border: 0;
    outline: 0;
    border-radius: 8px;
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
    transition: 0.15s;
}

.commentForm button[type="submit"]:not(:disabled):hover {
    background: var(--green-300);
}

.commentForm button[type="submit"]:disabled {
    cursor: not-allowed;
    filter: brightness(0.5);
}

.commentForm > footer {
    visibility: hidden;
    opacity: 0;
    max-height: 0;
}

.commentForm:focus-within > footer {
    opacity: 1;
    visibility: initial;
    max-height: initial;
}
